<legend>
        	<p class="text-primary">
                    {$Think.lang.BUST_MES}
        	</p>
        </legend>  
<table class="table table-bordered">
	   <tbody>
	      <tr>
	         <td class="success">{$Think.lang.BUST_TITLE}</td>
	         <td>{$data.title}</td>
	         <td class="success">{$Think.lang.BUST_ER}</td>
	         <td>{$data.user_id|get_username=###}</td>
	      </tr>
	      <tr>
	         <td class="success">{$Think.lang.BUST_S_TIME}</td>
	         <td>{$data.travel_start_time|date="Y-m-d",###}</td>
	         <td class="success">{$Think.lang.BUST_F_TIME}</td>
	         <td>{$data.travel_finish_time|date="Y-m-d",###}</td>
	      </tr>
	      <tr>
	         <td class="success">{$Think.lang.BUST_PLACE}</td>
	         <td colspan="3">{$data.travel_place}</td>
	      </tr>
	      <tr>
	         <td class="success">{$Think.lang.BUST_CONTENT}</td>
	         <td colspan="3">{$data.travel_info}</td>
	      </tr>
              <tr>
	         <td class="success">{$Think.lang.REMARKS}</td>
	         <td colspan="3">{$data.remarks}</td>
	      </tr>
	   </tbody>
	</table>
	