<foreach name="followInfo" item="val">
<div class="bs-callout bs-callout-info" id="callout-type-dl-truncate">
    <h4>{$val.follow_time|date="Y-m-d",###}</h4>
    <p> {$Think.lang.FOLLOW_TYPE}：{$val.follow_type|get_code_data="GOUTONG_TYPE",###}</p>
    <div style="border-bottom: 1px dashed #5E99BD;"></div>
    <if condition="$val.follow_content eq ''">
    	{$Think.lang.NO_CONTENT}
    <else/>
    	{$val.follow_content|htmlspecialchars_decode=###}
    </if>
    
    <table class="table table-bordered">
    <tbody>
        	<tr>
			    <td class="success">{$Think.lang.INFORMATION_INFO}</td>
			    <td colspan="3">
			    	<volist name="val.pic" id="v">
						<if condition="$v['is_show'] eq 1">
						<div style='width:120px;float:left;'>
							<img data-toggle="modal" data-target="#myModal" onclick="get_modal($(this))"  title="{$Think.lang.SHOW_BIG_PIC}" style='width:100px;height100px;' src="__ROOT__/{$v['url']|get_m_pic}"/>
							<br><a data-toggle="modal"  title="{$Think.lang.SHOW_BIG_PIC}"  src="__ROOT__/{$v['url']|get_m_pic}"  data-target="#myModal" onclick="get_modal($(this))">
								{$vo['name']}
							</a>
							<input type="hidden" value="__ROOT__/{$v['url']}"/>
						</div>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    	<else/>
				    	<div style='width:120px;float:left;'>
			                <img style="width:100px;height100px;" src="__ROOT__/{$v['url']|showPic}"/>
					    	<br><a title='点击下载'  href="__ROOT__/{$v['url']}">{$v['name']}</a>
					    </div>
				    	</if>
				    </volist>
			
			    </td>
			</tr>
    </tbody>
</table>
    
    
    
    <div style="border-bottom: 1px dashed #5E99BD;margin-bottom: 10px;"></div>
    
  </div>
</foreach>






<style>
    .success{
        width:150px;
    }
</style>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <a id="mymodal_url" href="" target="_bank">{$Think.lang.PRODUCT_O_PIC}</a>
                </h4>
            </div>
            <div class="modal-body">
                <img alt="" id="mymodal_id" src="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">{$Think.lang.COLSE}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</tbody>
</table>

<style>
    .success{
        width:150px;
    }
</style>

<script>
function get_modal(obj) {
	var url = obj.attr('src');
	$("#mymodal_id").attr("src", url);
	var o_url = obj.parent().children("input").val();
	$("#mymodal_url").attr("href", o_url);
}

</script>