<include file="./Application/Auth/View/Public/header.html" />
<script type="text/javascript" src="__JS__/datas/WdatePicker.js"></script>
<div id="tabs-308576" class="tabbable">
						<form action="{:U('OpCli/addLinks')}" method="post" id="form" role="form" class="form-horizontal" enctype="multipart/form-data" onsubmit="return check_sub();">
						<div class="container">
							<legend>
					        	<p class="text-primary">
						            	{$Think.lang.LINK_INFO}
						        </p>
					        </legend>
					        
					        <div class="form-horizontal">
								   		<div class="form-group">
								            <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_NAME}</label>
											<div class="col-sm-3">
								            	<input type="text" class="form-control check_aa" name="name[]" id="name" value="{$cli_info['name']}">
											</div>
											
											<label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.SEX}</label>
											<div class="col-sm-3">
								            	<input type="text" class="form-control" name="sex[]" value="{$cli_info['sex']}">
											</div>
										</div>
										
										<div class="form-group">
								            <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_BRI}</label>
											<div class="col-sm-3">
								            	<input type="text" class="form-control" name="bir[]" id="bir" value="{$cli_info['bir']}" onfocus="WdatePicker({skin: 'twoer'});" readonly="readonly"/>
											</div>
											
											<label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_ZHIWEI}</label>
											<div class="col-sm-3">
								            	<input type="text" class="form-control" name="position[]" value="{$cli_info['position']}">
											</div>
										</div>
										
										<div class="form-group">
								            <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_MOBILE}</label>
											<div class="col-sm-3">
								            	<input type="text" class="form-control check_phone" name="mobile[]" id="mobile" value="{$cli_info['mobile']}">
											</div>
											
											<label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_TELE}</label>
											<div class="col-sm-3">
								            	<input type="text" class="form-control" name="tele[]" value="{$cli_info['tele']}">
											</div>
										</div>
										
										<div class="form-group">
								            <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_PRIVATE_EMAIL}</label>
											<div class="col-sm-3">
								            	<input type="text" class="form-control" name="private_email[]" id="private_email" value="{$cli_info['private_email']}">
											</div>
											
											<label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_PUBLIC_EMAIL}</label>
											<div class="col-sm-3">
								            	<input type="text" class="form-control" name="com_email[]" value="{$cli_info['com_email']}">
											</div>
										</div>
										
										<div class="form-group">
								            <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_FAX}</label>
											<div class="col-sm-3">
								            	<input type="text" class="form-control" name="fax[]" id="fax" value="{$cli_info['fax']}">
											</div>
											
											<label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_WEB}</label>
											<div class="col-sm-3">
								            	<input type="text" class="form-control" name="web[]" value="{$cli_info['web']}">
											</div>
										</div>
										
										
										<div class="form-group">
								            <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_WORKE_ADDRESS}</label>
											<div class="col-sm-7">
								            	<input type="text" class="form-control" name="work_address[]" id="work_address" value="{$cli_info['work_address']}">
											</div>
										</div>
										
										<div class="form-group">
								            <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_YJ_ADDRESS}</label>
											<div class="col-sm-7">
								            	<input type="text" class="form-control" name="adderss[]" id="adderss" value="{$cli_info['adderss']}">
											</div>
										</div>
										
										<div class="form-group">
								            <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_BAK}</label>
											<div class="col-sm-3">
								            	<textarea class="comments" rows="5" cols="120" name="bak[]">{$cli_info['bak']}</textarea>
											</div>
										</div>
								<div id="in_link_html">
								</div>
								
								<center>
								<div class="form-group">
						            <div class="col-sm-offset-2 col-sm-3">
						            	<input type="hidden" name="base_id" id="base_id" value="{$base_id}"/>
						                <button class="btn" id="addLinkDiv"  type="button" onclick="add_html();"><i class="icon-pencil"></i>{$Think.lang.ADD}</button>
						                <button class="btn btn-large" id="submit-form" type="submit"><i class="icon-upload icon-white"></i>{$Think.lang.SUBMIT}</button>
						            </div>
						        </div>
						        </center>
						  </div>
						   
	    			</div>
	    			</form>
</div>
<script>
function add_html() {
	var link_html = $("#insert_link_html").html();
	$("#in_link_html").append(link_html);
}
function remov_html(obj) {
	obj.parent().parent().remove();
}

function check_sub(){
	var str = 0
	$("#form .check_aa").each(function(){
		if("" ==  $(this).val()){
			str += 1;
		}
	})
	
	$("#form .check_phone").each(function(){
		if("" ==  $(this).val()){
			str += 1;
		}
	})
	
	if(0 == str){
		return true;
	}
	else{
		
		alert("【联系人姓名】与【移动电话】不能为空！");
		return false;
	}
}

</script>

<div id="insert_link_html" style="display:none;">
	<div>
	<div class="form-group">
	          <label for="inputEmail3" class="col-sm-2 control-label">
	          	{$Think.lang.LINK_NAME}</label>
		<div class="col-sm-3">
	          	<input type="text" class="form-control check_aa" name="name[]" id="name" value="{$cli_info['name']}">
		</div>
		
		<label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.SEX}</label>
		<div class="col-sm-3">
	          	<input type="text" class="form-control" name="sex[]" value="{$cli_info['sex']}">
		</div>
		<a class="btn btn-danger" onclick="remov_html($(this));"><i class="icon-trash-o"></i>{$Think.lang.DELETE}</a>
	</div>
	
	<div class="form-group">
	          <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_BRI}</label>
		<div class="col-sm-3">
	          	<input type="text" class="form-control" name="bir[]" id="bir" value="{$cli_info['bir']}">
		</div>
		
		<label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_ZHIWEI}</label>
		<div class="col-sm-3">
	          	<input type="text" class="form-control" name="position[]" value="{$cli_info['position']}">
		</div>
	</div>
	
	<div class="form-group">
	          <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_MOBILE}</label>
		<div class="col-sm-3">
	          	<input type="text" class="form-control check_phone" name="mobile[]" id="mobile" value="{$cli_info['mobile']}">
		</div>
		
		<label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_TELE}</label>
		<div class="col-sm-3">
	          	<input type="text" class="form-control" name="tele[]" value="{$cli_info['tele']}">
		</div>
	</div>
	
	<div class="form-group">
	          <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_PRIVATE_EMAIL}</label>
		<div class="col-sm-3">
	          	<input type="text" class="form-control" name="private_email[]" id="private_email" value="{$cli_info['private_email']}">
		</div>
		
		<label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_PUBLIC_EMAIL}</label>
		<div class="col-sm-3">
	          	<input type="text" class="form-control" name="com_email[]" value="{$cli_info['com_email']}">
		</div>
	</div>
	
	<div class="form-group">
	          <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_FAX}</label>
		<div class="col-sm-3">
	          	<input type="text" class="form-control" name="fax[]" id="fax" value="{$cli_info['fax']}">
		</div>
		
		<label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_WEB}</label>
		<div class="col-sm-3">
	          	<input type="text" class="form-control" name="web[]" value="{$cli_info['web']}">
		</div>
	</div>
	
	
	<div class="form-group">
	          <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_WORKE_ADDRESS}</label>
		<div class="col-sm-7">
	          	<input type="text" class="form-control" name="work_address[]" id="work_address" value="{$cli_info['work_address']}">
		</div>
	</div>
	
	<div class="form-group">
	          <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_YJ_ADDRESS}</label>
		<div class="col-sm-7">
	          	<input type="text" class="form-control" name="adderss[]" id="adderss" value="{$cli_info['adderss']}">
		</div>
	</div>
	
	<div class="form-group">
	          <label for="inputEmail3" class="col-sm-2 control-label">{$Think.lang.LINK_BAK}</label>
		<div class="col-sm-3">
	          	<textarea class="comments" rows="5" cols="120" name="bak[]">{$cli_info['bak']}</textarea>
		</div>
	</div>
	</div>
</div>

