
<script type="text/javascript">
    function insertDeparHtml() {
        var in_html = $("#tr_line").clone(true);
        in_html.insertBefore("#in_line");
    }

    $(document).ready(function() {
        $('#form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                flow_name: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: '流程名称不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 30,
                            message: '流程名称长度请保持在4-30个字'
                        },
                    }
                },
            }
        });
    });
</script>
<div class="container">
    <form action="{:U()}" method="post" id="form" role="form" class="form-horizontal">
        <legend>
            <p class="text-primary">
                {$Think.lang.FLOW_ADD}
            </p>
        </legend>

        <div class="form-group">
            <label class="col-sm-2 control-label">{$Think.lang.FLOW_NAME}</label>
            <div class="col-sm-3">
                <input type="text" name="flow_name" value=""  class="form-control" placeholder="{$Think.lang.FLOW_NAME}">

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{$Think.lang.FLOW_TYPE}</label>

            <div class="col-sm-3" id="tr_line">
                <select class="form-control"  name="cat_id">
                    <volist name="type_tree" id="type_tree">
                        <option value="{$type_tree.id}">{$type_tree.title_show}</option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{$Think.lang.FLOW_DESC}</label>
            <div class="col-sm-3">
                <textarea class="form-control" rows="3" name="flow_desc"></textarea>
            </div>
        </div>




        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button class="btn btn-primary" id="submit-form" type="submit" target-form="form-horizontal">{$Think.lang.SUBMIT}</button>
                <button class="btn btn-warning" onclick="javascript:history.back(-1);
                        return false;">{$Think.lang.RETURN}</button>
            </div>
        </div>
    </form>
</div>


</div>
</body>
</html>