    <form action="{:U('addApp')}" method="post" id="form" role="form" class="form-horizontal">
        <legend>
            <p class="text-primary">
                {$Think.lang.APP_ADD}
            </p>
        </legend>

        <div class="form-group">
            <label class="col-sm-2 control-label">{$Think.lang.APP_NAME}</label>
            <div class="col-sm-3">
                <input type="text" name="name" value=""  class="form-control" placeholder="{$Think.lang.APP_NAME}">

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{$Think.lang.APP_MODEL}</label>

            <div class="col-sm-3">
                <select class="form-control"  name="model">
                    {$model_list}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{$Think.lang.FLOW_NAME}</label>
            <div class="col-sm-3">
                <select class="form-control"  name="flow_id">
                    <option value="">请选择</option>
                    <foreach name="workflow_data" item="val">
                        <option value="{$val.id}">{$val.flow_name}</option>
                        </foreach>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button class="btn btn-primary" id='submit-form' type="submit">{$Think.lang.SUBMIT}</button>
                <button class="btn btn-warning" id='submit-form' type="button" onclick="window.history.back()">{$Think.lang.RETURN}</button>
            </div>
        </div>
    </form>
<script type="text/javascript">
    $(document).ready(function() {
        $('#form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: '应用名称不能为空'
                        },
                    }
                },
                model: {
                    validators: {
                        notEmpty: {
                            message: '请选择模型'
                        },
                    }
                },
                flow_id: {
                    validators: {
                        notEmpty: {
                            message: '请选择流程'
                        },
                    }
                },
            }
        });
    });
</script>
