<link rel="stylesheet" href="__PUBLIC__/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="__PUBLIC__/js/zTree/jquery.ztree.all-3.5.js"></script>
<div class="zTreeDemoBackground left" style="float:left;width:20%;">
    <ul id="treeDemo" class="ztree"></ul>
</div>

<script>
    var setting = {
        data: {
            simpleData: {
                enable: true,
            },
        },
        callback: {
            onClick: onclick,
            onRightClick: OnRightClick
        }
    };
    function onclick(event, treeId, treeNode, clickFlag) {
        $("[name='yuqi']").attr("src", "/admin.php/Yuqi/Yuqi_fenpei_set/presonaName/" + treeNode.name + "/presona_id/" + treeNode.id);
    }
    function OnRightClick(event, treeId, treeNode) {
        if (!treeNode && event.target.tagName.toLowerCase() != "button" && $(event.target).parents("a").length == 0) {
            zTree.cancelSelectedNode();
            showRMenu("root", event.clientX, event.clientY);
        } else if (treeNode && !treeNode.noR) {
            zTree.selectNode(treeNode);
            showRMenu("node", event.clientX, event.clientY);
        }
    }

    function showRMenu(type, x, y) {
        $("#rMenu ul").show();
        if (type == "root") {
            $("#m_del").hide();
            $("#m_check").hide();
            $("#m_unCheck").hide();
        } else {
            $("#m_del").show();
            $("#m_check").show();
            $("#m_unCheck").show();
        }
        rMenu.css({"top": y + "px", "left": x + "px", "visibility": "visible"});

        $("body").bind("mousedown", onBodyMouseDown);
    }
    function hideRMenu() {
        if (rMenu)
            rMenu.css({"visibility": "hidden"});
        $("body").unbind("mousedown", onBodyMouseDown);
    }
    function onBodyMouseDown(event) {
        if (!(event.target.id == "rMenu" || $(event.target).parents("#rMenu").length > 0)) {
            rMenu.css({"visibility": "hidden"});
        }
    }
    var addCount = 1;
    function addTreeNode() {
        hideRMenu();
        var nodes = zTree.getSelectedNodes();
        var name = nodes[0].name;
        var id = nodes[0].id;
        $.get("{:U(addType)}", function(data) {
            $(".modal-body").html(data);
            $(".bs-example-modal-lg").modal("show");
            $("[name='pid']").val(id);
            $("[name='pname']").val(name);
        });
    }
    function removeTreeNode() {
        hideRMenu();
        var nodes = zTree.getSelectedNodes();
        if (nodes && nodes.length > 0) {
            if (nodes[0].children && nodes[0].children.length > 0) {
                var msg = "{$Think.lang.DELETE_TYPE_DESC}";
                if (confirm(msg) == true) {
                    zTree.removeNode(nodes[0]);
                }
            } else {
                zTree.removeNode(nodes[0]);
            }
        }
    }


    var zTree, rMenu;
    $(document).ready(function() {
        $.fn.zTree.init($("#treeDemo"), setting, treeNodes1);
        zTree = $.fn.zTree.getZTreeObj("treeDemo");
        rMenu = $("#rMenu");
    });
    //-->



//    var treeNodes1 = [{"id": "77", "name": "\u4e00\u7ec4\uff08M2-M3\uff09", "pId": "69"}, {"id": "78", "name": "\u4e8c\u7ec4\uff08M2-M3\uff09", "pId": "69"}, ];
    var treeNodes1 = {$tree_data};
    $(function() {
        $.fn.zTree.init($("#treeDemo"), setting, treeNodes1);
    });
</script>
<style type="text/css">
    div#rMenu {position:absolute; visibility:hidden; top:0; background-color: #555;text-align: left;padding: 2px;}
    div#rMenu ul li{
        margin: 1px 0;
        padding: 0 5px;
        cursor: pointer;
        list-style: none outside none;
        background-color: #DFDFDF;
    }
</style>
<div id="rMenu">
    <ul>
        <li id="m_add" onclick="addTreeNode();">{$Think.lang.ADD_TYPE}</li>
        <li id="m_del" onclick="removeTreeNode();">{$Think.lang.DELETE_TYPE}</li>
    </ul>
</div>


<!-------------------添加类型-------------------->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">{$Think.lang.TYPE_ADD}</h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>